@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #1b1f29 !important;
  color: #fff !important;
}

.applyBtn {
  background: transparent;
  border: 2px solid white;
  text-transform: uppercase;
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
}
.applyBtn:hover {
  background-color: #fff;
  color: #000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
    padding: 1.5rem 3rem !important;
  width: 100%;
  border-bottom: 1px solid #b1adad;
  color: #fff;
}

.logo img {
  width: 50px;
  height: 50px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li {
  position: relative;
}

.menu a {
    font-family: "Roboto", sans-serif;
  font-weight: medium;
  text-decoration: none;
  color: #fff !important;
}

.menu a i {
  margin-left: 5px;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333 !important;
  list-style: none;
  width: 15rem;
  height: 25rem;
  overflow-y: auto;
  padding: 10px 0;
  top: 100%;
  left: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu > li{
  padding: .5rem 0;
  border-bottom: 2px solid #fff;
  padding-left: .5rem;
}
.dropdown-menu > li > a {
  margin-top: 2rem;
}
.contact {
  padding-top: 5rem;
  padding-left: 3rem;
}
.contact h2 {
  font-size: 5rem;
  font-family: "Merriweather", serif;
  font-weight: bold;
}
.contact__email{
    gap:3rem;
    padding: 1rem 0;
}
.contact__email div span{
    padding-left: 1rem ;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Merriweather", serif;
}
.contact__email div i{
    font-size: 1.5rem;
    
}
.text-secondry{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}
.social-icons{
    gap: 3rem;
    padding: 1.5rem ;
}
.social-icons a{
    color: #fff !important;
    padding-right: 10px;
}