@media screen and (max-width: 768px) {
/* Mobile Menu Styles */
.mobile-menu {
    display: none;
    text-align: right;
    padding: 1rem;
}

.menu-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.menu-wrapper {
    display: none;
    position: absolute;
    top: 50px; /* Adjust as needed based on your header height */
    right: 0;
    background: #1b1f29;
    width: 100%;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.menu-wrapper.active {
    max-height: 500px; /* Adjust as needed */
}

  .headerContent > h1 {
    font-size: 1.3rem;
    font-family: "Merriweather", serif;
    font-weight: bold;
    width: 90%;
    text-align: center;
  }
  .headerContent h3 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 80%;
    text-align: center;
    font-size: 20px;
  }

  .sectionOne {
    margin: 2rem 0;
    padding-bottom: 4rem;
  }

  .sectionOne div h1 {
    font-size: 2rem;
    padding: 2rem 0;
  }

  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 1rem;
  }

  .gridContainer .crd {
    padding-right: 0;
  }

  .sectionOne div .titleContact {
    width: 80%;
    font-size: 2rem;
    padding: 1rem 0;
  }

  .sectionOne div .paraContact {
    width: 80%;
    font-size: 16px;
    line-height: 1.8rem;
  }

  .contactBtn {
    padding: 1rem 1.5rem;
  }
  .contact {
    padding: 2rem .4rem; /* Adjust padding for mobile */
  }

  .contact h2 {
    font-size: 3rem; /* Adjust font size for mobile */
  }

  .contact__email {
    flex-direction: column; /* Stack email info vertically on mobile */
    gap: 1rem; /* Adjust gap for mobile */
  }

  .contact__email div span {
    padding-left: 0; /* Remove padding for mobile */
    font-size: 1.2rem; /* Adjust font size for mobile */
  }

  .contact__email div i {
    font-size: 1.2rem; /* Adjust font size for mobile */
  }

  .text-secondary {
    font-size: 1rem; /* Adjust font size for mobile */
  }

  .social-icons {
    display: flex;
    justify-content: center;
  }
  footer {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
    justify-content: center;
    align-items: center;
  }

  footer div p {
    padding-top: 0.5rem;
    line-height: 1.2rem;
  }

  footer div .title {
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }
}

@media (max-width: 624px) {
  .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 1rem !important;
  width: 100%;
  border-bottom: 1px solid #b1adad;
  color: #fff;
}
.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 15px;
  
}

.applyBtn {
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;

}
.logo img {
  width: 35px;
  height: 35px;
}
}


@media (max-width: 500px) {
  
.menu {
  gap: 7px;
  font-size: 13px;
}

.applyBtn {
  font-size: 10px;

}
.logo img {
  width: 28px;
  height: 28px;
}
}

@media (max-width: 400px) {
 
.menu {
  gap: 5px;
  font-size: 10px;
}

.applyBtn {
  padding: 3px 5px ;
  font-size: 8px;

}
.logo img {
  width: 25px;
  height: 25px;
}
}

@media (max-width: 315px) {
 
.menu {
  gap: 2px;
  font-size: 9px;
}

.applyBtn {
  font-size: 8px;

}
.logo img {
  width: 20px;
  height: 20px;
}
}
@media (max-width: 283px) {
 
.menu {
  gap: 2px;
  font-size: 8px;
}

.applyBtn {
  font-size: 6px;

}
.logo img {
  width: 17px;
  height: 17px;
}
}
